@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="input-group mb-3">
        <input id="number" type="text" class="form-control" placeholder="Recipient's username" aria-label="Enter a number from 1 to 7" aria-describedby="basic-addon2">
        <button type="button" class="btn btn-dark" onclick="sendRequest()">Send Request</button>
    </div>
</div>

<script>
    function sendRequest() {
        var number = document.getElementById("number").value;
        (number > 0 && number < 8) ? console.log("True") : alert("the number must be between 1 and 7");
    }
</script>