################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Asteroids/.vs/Asteroids/FileContentIndex/c119edcb-1bfb-4b1f-9202-6c587afcd71f.vsidx
*.vsidx
